@CHARSET "ISO-8859-1";

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button, select, html, body, div, a, textarea, input {
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

a, a:hover {
	color: rgba(0, 0, 0, .87);
	text-decoration: none;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: .01em;
}

body {
	background-color: #9ccc65;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

header {
	position: relative;
	z-index: 50;
	font-weight: 400;
	background: white;
}

header .navbar-default .nav {
	margin-top: 8px;
}

.form-control {
	border-radius: 2px;
}

.btn {
	border-radius: 2px;
}

header .navbar-default>.nav>li {
	margin-left: 15px;
}

header .navbar {
	min-height: 48px;
}

.i-user {
	padding-bottom: 6px;
}

element.style {
	display: block;
	background-clip: padding-box;
	background-color: #fff;
	/* display: none; */
	float: left;
	/* font-size: 16px; */
	/* left: 0; */
	list-style: none;
	margin: 2px 0 0;
	min-width: 120px;
	padding: 8px 0;
	/* position: absolute; */
	text-align: left;
	/* top: 8px; */
	z-index: 12;
}

header .nav-pills .header-item-content {
	display: none;
	position: absolute;
	color: #757575;
	font-size: 13px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	min-width: 120px;
	border-radius: 2px;
	background: #fff;
	/*-moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px
		rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px
		1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px
		rgba(0, 0, 0, 0.2);*/
	right: 0px;
	top: 49px;
}

header .nav-pills .header-item-content::before, header .nav-pills .header-item-content::after
	{
	border-radius: 2px;
	content: ' ';
	display: block;
	z-index: -1;
	will-change: box-shadow, transform;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

header .nav-pills .header-item-content::before {
	box-shadow: 0 -2px 6px transparent, 0 3px 8px rgba(0, 0, 0, 0.15), 0
		10px 10px transparent, 0 14px 14px transparent, 0 19px 19px
		transparent;
}

header .nav-pills .header-item-content::after {
	box-shadow: 0 2px 3px transparent, 0 4px 4px rgba(0, 0, 0, 0.15), 0 6px
		5px transparent, 0 10px 6px transparent, 0 15px 6px transparent;
}

header .header-item-content.header-item-logged {
	white-space: nowrap;
	padding: 4px 0;
}

header .nav a {
	text-transform: uppercase;
	font-weight: 500;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0 !important;
}

.i-logo-48 {
	position: absolute;
	margin-top: -20px;
	background-image: url('../img/logoFlippedInverse.png');
	background-position: 0 0;
	height: 75px;
	width: 200px;
	-moz-background-size: 176px auto;
	-o-background-size: 176px auto;
	-webkit-background-size: 176px auto;
	background-size: auto 100%;
	background-image: url('../img/logoFlippedInverse.png');
}

[class^="i-"] {
	display: inline-block;
	overflow: hidden;
	text-indent: 300px;
	background-repeat: no-repeat;
	vertical-align: middle;
}

@media ( min-width : 3px) and (max-width: 1267px) {
	.row-table.row-table-xs>[class*="col-"] .img-responsive {
		width: 100%
	}
}

.row-table.row-table-xs>[class*="col-"].td-top {
	vertical-align: top !important
}

.row-table . row-table-xs>[class*="col-"].td-bottom {
	vertical-align: bottom !important
}

@media ( min-width : 3px) { .
	row-table {
		display: table !important
	}
	.row-table>[class*="col-"] {
		float: none !important;
		display: table-cell !
important;
		vertical-align: middle;
		padding-left: 9px;
		padding-right: 9px
	}
}

@media ( min-width : 3px) and (min-width: 3px) and (max-width: 1267px) {
	.row-table>[class*="col-"] .img-responsive {
		width: 100%
	}
}

@media ( min-width : 3px) {
	.row-table>[class*="col-"].td-top {
		vertical-align: top !important
	}
	.row-table>[class*="col-"].td-bottom {
		vertical-align: bottom !important
	}
}

.margin-tiny, .margin-small, .margin-medium, . margin-large,
	.margin-huge {
	display: block
}

.margin-tiny {
	height: 8px
}

.margin-small {
	height: 15px
}

.margin-medium {
	height: 30px
}

.margin-large {
	height: 45px
}

.margin-huge {
	height: 75px
}

.h1-epic {
	font-size: 68px
}

@media ( min-width : 1268px) {
	.margin-tiny {
		height: 10px
	}
	.margin-small {
		height: 20px
	}
	.margin-medium {
		height: 40px
	}
	.
	margin-large {
		height: 60px
	}
	.margin-huge {
		height: 100px
	}
}

.cutout, .cutout-content {
	background: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 2px 3px transparent, 0 4px 4px rgba(0, 0, 0, .15), 0 6px
		5px transparent, 0 10px 6px transparent, 0 15px 6px transparent;
}

.cutout-content {
	padding: 20px;
}

.uppercase {
	text-transform: uppercase;
}

.cutout .nav-stacked {
	padding: 0 0 8px 10px;
}

.cutout .nav-stacked li ul {
	padding-bottom: 10px;
}

.cutout .nav-pills>li>a {
	padding-bottom: 0;
	padding-top: 0;
}

.nav-pills>li>a {
	font-weight: 500;
}

.nav-pills>li.active>a {
	background: #ECEBEA;
	color: #428bca;
}

.nav-pills>li>a:hover, .nav-pills>li.active>a:hover {
	background: #ECEBEA;
	color: black;
}

.nav-pills>li>a {
	border-radius: 0;
}

.default-color {
	color: white;
}

.thumbnailHolder {
	position: relative;
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.thumbnail {
	display: block;
	padding: 0;
	margin-bottom: 40px;
	line-height: 1.42857143;
	background: transparent;
	-moz-box-sizing: border-box;
	border: none;
	border-radius: 2px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.thumbnail {
	box-shadow: 0 2px 3px transparent, 0 4px 4px rgba(0, 0, 0, .15), 0 6px
		5px transparent, 0 10px 6px transparent, 0 15px 6px transparent;
}

.thumbnailHolder img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.top-radius {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.bottom-radius {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.header-item-switcher.user {
	background: #ECEBEA;
}

.btn.call-to-action {
	margin-top: -11px;
}

ul {
	list-style: none;
}

/* Animations */
.animate-enter, .animate-leave {
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
}

.animate-enter.animate-enter-active, .animate-leave {
	opacity: 1;
	top: 0;
	height: 30px;
}

.animate-leave.animate-leave-active, .animate-enter {
	opacity: 0;
	top: -50px;
	height: 0px;
}

.fadein, .fadeout {
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
	-moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
	-o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove, .fadeout.ng-hide-add.ng-hide-add-active {
	opacity: 0;
	display: block !important;
}

.fadeout.ng-hide-add, .fadein.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
	display: block !important;
}

.animate-repeat.ng-enter, .animate-repeat.ng-leave, .animate-repeat.ng-move
	{
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
}

.animate-repeat.ng-enter {
	line-height: 0;
	opacity: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.animate-repeat.ng-enter.ng-enter-active {
	/*line-height:10px;*/
	opacity: 1;
	/*padding:5px;
  padding-left:0;*/
}

.animate-repeat.ng-leave {
	opacity: 1;

	/*line-height:20px;
  padding:10px;*/
}

.animate-repeat.ng-leave.ng-leave-active {
	z-index: -1;
	position: absolute;
	opacity: 0;
	line-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
}

.animate-repeat.ng-move {
	
}

.animate-repeat.ng-move.ng-move-active {
	
}

.grid-list-pull-down {
	position: relative;
	transform: translateY(100%);
}

.media-left, .media-right, .media-body {
	display: table-cell;
	vertical-align: top;
}

.media-left, .media>.pull-left {
	padding-right: 10px;
}

.row>.media {
	margin-right: 15px;
	margin-left: 15px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
	display: none;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8)
		url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
	overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
	display: block;
}

html {
	overflow-y: scroll;
}

a:visited {
	decoration: none;
}

/* tags */
.tag {
	margin: 0 6px 6px 0;
	padding: 3px 6px 4px 6px;
	font-weight: normal;
	text-decoration: none;
	white-space: nowrap;
	color: #777;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tag-flag {
	margin: 0 6px 6px 0;
	padding: 3px 6px 4px 6px;
	font-weight: normal;
	text-decoration: none;
	white-space: nowrap;
	color: #777;
	border: 1px solid #ccc;
	background: rgba(0, 0, 0, 0.07)
		url(/assets/button-glass-20e7307a8fae1b221f4caad71c4cfce0.png)
		repeat-x 0 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.card-action-text {
	color: #8bc349;
	margin: 0;
	text-transform: uppercase;
}

.block {
	display: block;
	padding: 14px;
}

.card-action {
	color: inherit;
	display: block;
	position: relative;
}

.card-footer {
	background-color: white;
}

.nav-counter {
	position: absolute;
	top: -1px;
	right: 1px;
	min-width: 8px;
	height: 20px;
	line-height: 20px;
	margin-top: -11px;
	padding: 0 6px;
	font-weight: normal;
	color: white;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	background: #e23442;
	border: 1px solid #911f28;
	border-radius: 11px;
	background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
	background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
	background-image: -o-linear-gradient(top, #e8616c, #dd202f);
	background-image: linear-gradient(to bottom, #e8616c, #dd202f);
	-webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px
		rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px
		rgba(0, 0, 0, 0.12);
}